/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}
/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 0 auto;
}

body {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.episodeItem {
	border: 2px solid black;
	margin: 1px auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 90%;
	padding: 1rem;
}

.episodeItem > * {
	width: 30%;
}

#summarySection {
	max-width: 50%;
	margin: 0 auto;
}

#castList {
	display: flex;
	justify-content: center;
	width: 80%;
	flex-wrap: wrap;
	margin: 0 auto;
}

.watched {
	background-color: rgba(61, 235, 92, 0.41);
}
